[Unit]
Description=Mount clevis-keyscript managed directory
After=remote-fs.target

[Service]
Type=oneshot
ExecStart=/etc/luks-keyscript/service-mount-helper
ExecStop=/etc/luks-keyscript/service-mount-helper -u
ExecStartPre=/etc/luks-keyscript/service-mount-helper -w
RemainAfterExit=yes
TimeoutSec=60

[Install]
WantedBy=NetworkManager-wait-online.service